{{#ma-card title=(t 'labels.jobs')}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{t 'labels.jobs.name'}}</th>
        <th>{{t 'labels.jobs.jobkey'}}</th>
        <th>{{t 'labels.jobs.cron'}}</th>
        <th>{{t 'labels.jobs.startAt'}}</th>
        <th>{{t 'labels.jobs.count'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |job|}}
        <tr>
          <th>{{t job.id}}</th>
          <th>{{job.jobkey}}</th>
          <th><code>{{job.cron}}</code></th>
          <th>{{moment-format job.startAt 'LLL'}}</th>
          <th>{{job.count}}</th>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="bootgrid-footer">
    <div class="row">
      <div class="col-sm-6">
        {{ma-pagination total=50 size=5}}
      </div>
    </div>
  </div>
{{/ma-card}}
